.container {
  font-family: 'Crimson Pro', serif;
  border-left: 3px solid #9a9485;
  color: #b7b3a8;
  background-color: #252421;
}

.headline {
  padding: 10px 15px;
  display: flex;
  color: #b7b3a8;
  background-color: #31302c;
}

.type {
  font-weight: 500;
}

.number {
  font-weight: 500;
  margin-left: 4px;
}

.name {
  margin-left: 8px;
}

.content {
  padding: 15px 30px 15px 15px;
  text-align: justify;
}

.parts {
  padding: 10px 15px;
}