.container {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #bbb;
}
.logo,
.module,
.chapter,
.section {
  padding: 0px 6px;
  cursor: pointer;
  transition: all 0.15s ease-in-out;

  &:hover {
    color: #eee;
  }
}
.logo {
  display: flex;
  gap: 8px;
}
.section {
  color: #eee;
}