.container {
  display: flex;
  font-size: 13px;
  color: #bbb;
  cursor: pointer;

  &>div {
    padding: 0px 6px;
    display: flex;
    align-items: center;
    transition: all 0.33s ease-in-out;

    &:hover {
      color: #eee;
    }
  }
}

.logo {
  display: flex;
  gap: 8px;
  color: #eee;
}