.container {
  align-self: flex-start;
  position: sticky;
  top: 40px;
  height: calc(100vh - 40px);
  padding: 40px;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #181818;

  &::-webkit-scrollbar {
    display: none;
  }
}

.chapter {
  padding: 18px 4px 10px;
  display: flex;
  align-items: center;
  color: #666;

  &:first-of-type {
    padding-top: 0px;
  }
}

.item {
  display: flex;
  align-items: center;
  padding: 6px 10px 6px 2px;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.15s ease;

  &:hover {
    background-color: #222;
  }
}

.number {
  min-width: 35px;
  font-family: monospace;
  font-size: 16px;
  text-align: right;
  color: #555;
}

.name {
  margin-left: 20px;
  color: #ddd;
}

.add {
  margin-left: auto;
  font-size: 14px;
  color: #ddd;
}