.triangleContainer {
  position: fixed;
  top: 40px;
  width: 400px;
  display: flex;
  justify-content: center;
  transition: all 0.33s ease-in-out;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #444;
}

.content {
  position: fixed;
  top: 47px;
  width: 400px;
  max-height: 300px;
  padding: 4px;
  border-radius: 3px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 4px;
  background-color: #444;
  transition: all 0.33s ease-in-out;

  &>div {
    position: relative;
    transition: all 0.33s ease-in-out;
  }
}