@use '@/scss/colors';

.container {
  margin-left: auto;
  min-width: 50px;
  border-radius: 2px;
  background-color: #333;
}

.progressBar {
  height: 4px;
  border-radius: 2px;
  background-color: colors.$light;
}