.container {
  margin-top: auto;
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  div {
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    color: #777;

    &:hover {
      color: #bbb;
    }
  }
}

.check {
  font-size: 36px;
}

.container div.checked {
  color: #ddd;

  &:hover {
    color: #bbb;
  }
}

.chevron {
  font-size: 24px;
}