.container {
  margin-top: auto;
  padding-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  &>div {
    min-width: 30px;
    display: flex;
    justify-content: center;
    color: #777;
    cursor: pointer;
    transition: all 0.15s ease;

    &:hover {
      color: #bbb;
    }
  }
}

.chevron {
  font-size: 20px;
}