.container {
  margin-top: auto;
  padding-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;

  &>div {
    color: #777;
    cursor: pointer;
    transition: all 0.15s ease;

    &:hover {
      color: #bbb;
    }
  }
}

.check {
  font-size: 24px;
}

.container div.checked {
  color: #ddd;

  &:hover {
    color: #bbb;
  }
}

.chevron {
  font-size: 20px;
}