.container {
  align-self: flex-start;
  position: sticky;
  top: 40px;
  height: calc(100vh - 40px);
  padding: 40px;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #181818;

  &::-webkit-scrollbar {
    display: none;
  }
}

.stackItem {
  display: flex;
  gap: 10px;
}

.unit {
  flex-grow: 1;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.removeButton {
  flex-grow: 1;
  min-width: 40px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #887777;
  background-color: #282222;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  
  &:hover {
    background-color: #302828;
  }
}

.expandButton {
  flex-grow: 1;
  min-width: 40px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #777788;
  background-color: #222228;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  
  &:hover {
    background-color: #282830;
  }
}