.container {
  margin-bottom: 10px;
  padding: 25px;
  border-top: 1px solid #444;
  border-bottom: 1px solid #444;
}

.heading {
  padding-bottom: 25px;
  color: #777;
}

.qed {
  padding-top: 25px;
  font-size: 10px;
  text-align: right;
  color: #555;
}