.container {
  padding: 10px 0px 10px 5px;
  gap: 10px;
}

.withoutSolution {
  flex-grow: 1;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 12px;
  transition: all 0.15s ease;
  cursor: pointer;

  &:hover {
    color: #999;
  }
}

.number {
  min-width: 40px;
  font-size: 14px;
  text-align: center;
}

.content {
  flex-grow: 1;
}