.container {
  display: flex;
  justify-content: center;
  color: #555;
  background-color: #282828;
}

.content {
  width: min(100%, 1180px);
  padding: 80px 50px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.headline {
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
}

.divider {
  width: 90%;
  max-width: 540px;
  border-bottom: 1px solid #555;
}

.chapter {
  margin-top: 35px;
  margin-bottom: 8px;
  display: flex;
  gap: 15px;
  font-size: 18px;
  font-weight: 500;
  color: #ddd;
}

.section {
  margin-left: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
  color: #bbb;


  .number {
    font-family: monospace;
  }
}