@use '@/scss/colors';

.container {
  display: flex;
  justify-content: center;
  color: colors.$dark;
  background-color: colors.$light;
}

.content {
  width: min(100%, 1180px);
  padding: 80px 50px;
  display: flex;
  flex-direction: column;
}

.headline {
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
  color: colors.$normal;
}

.divider {
  width: 90%;
  max-width: 540px;
  margin-bottom: 41px;
  border-bottom: 1px solid colors.$normal;
}

.reviews {
  max-width: 80ch;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.review {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.topLine {
  padding: 0 6px;
  display: flex;
  align-items: center;
  gap: 18px;
}

.stars {
  display: flex;
  gap: 4px;
  opacity: 0.8;
  font-size: 14px;
  color: colors.$dark;
}

.title {
  font-size: 17px;
  font-weight: 500;
}

.body {
  color: colors.$normal;
  text-align: justify;
}

.bottomLine {
  align-self: flex-end;
  padding: 0 6px;
  display: flex;
  align-items: center;
  gap: 18px;
}

.date {
  font-size: 14px;
  color: colors.$mid;
}

.circle {
  font-size: 2px;
  color: colors.$mid;
}

.user {
  font-size: 14px;
  color: colors.$mid;
}

.prompt {
  max-width: 80ch;
  padding: 50px;
  display: flex;
  justify-content: center;
}

.promptContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  color: colors.$light-hover;
  cursor: pointer;
  transition: all 0.15s ease;

  i {
    font-size: 60px;
  }

  div {
    font-size: 18px;
    font-weight: 600;
  }

  &:hover {
    color: colors.$mid;
  }
}