@use '@/scss/colors';

.container {
  padding: 80px 20px;
  background-color: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headline {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
  color: #555;
  letter-spacing: 2px;
}

.divider {
  width: 90%;
  max-width: 540px;
  margin-bottom: 20px;
  border-bottom: 1px solid #555;
}

.banners {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.banner {
  position: relative;
  width: 100%;
  max-width: 600px;
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 17px;
  color: #bbb;
  background-color: #2a2a2a;
  opacity: 0.9;
  cursor: pointer;
  transition: all 0.15s ease;

  &:hover {
    background-color: #2d2d2d;
  }
}

.progressOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  height: 100%;
  background-color: colors.$light;
  opacity: 0.1;
}