.container {
  position: sticky;
  top: 0px;
  z-index: 10;
  height: 50px;
  display: flex;
  background-color: #333;
}

.nav {
  padding: 0 35px;
  margin-left: auto;
  display: flex;
  align-items: center;
  color: #bbb;
  cursor: pointer;
  transition: all 0.15s ease;

  &:hover {
    color: #ddd;
  }
}

.logo {
  padding: 0 25px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #ddd;
  cursor: pointer;
}

.login,
.logout {
  padding: 0 25px;
  display: flex;
  align-items: center;
  color: #ddd;
  background-color: #383838;
  cursor: pointer;
  transition: all 0.15s ease;

  &:hover {
    background-color: #444;
  }
}